<form class="formContainer pb-5">
                    <div class="mb-3">
                        <label for="inputPassword4" class="form-label">ID</label>
                        <input type="text" class="form-control" value="#321" readonly="" disabled="">
                    </div>

                    <div class="searchableSelect mb-3">
                        <label class="form-label">Domain Name<span>*</span></label>
                        <div class="dropdown bootstrap-select">
                            <app-select2
                            [options]="selectDomainOptions"
                            (selectedValue)="onSelectedValue($event)"
                            ></app-select2>
                    </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Control Name<span>*</span></label>
                        <input type="text" class="form-control" required="">
                    </div>

                    

                    <div class="searchableSelect mb-3">
                        <label for="inputAddress" class="form-label">Control Owner<span>*</span></label>
                        <div class="dropdown  bootstrap-select">
                            <app-select2
                            [options]="selectControlOptions"
                            (selectedValue)="onSelectedValue($event)"
                            ></app-select2>
                    </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email<span>*</span></label>
                        <input type="email" class="form-control" required="">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Reference Link<span>*</span></label>
                        <input type="email" class="form-control" required="">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Risk Rating<span>*</span></label>
                        <select class="form-select" required="">
                            <option selected="" disabled="" value="">Select Risk Rating</option>
                            <option>Low</option>
                            <option>Medium</option>
                            <option>High</option>
                        </select>
                    </div>
                    <div class="mb-5">
                        <label class="form-label">Description<span>*</span></label>
                        <textarea class="form-control" required=""></textarea>
                    </div>
                    <div class="popupButtonFixed d-flex justify-content-end align-items-center" style="gap: 20px;">
                        <input type="button" value="Cancel" class="saveButton" data-bs-dismiss="modal" aria-label="Close">
                        <button type="submit" class="cancelButton">Save</button>
                    </div>
                </form>