<div class="sortTableContainer">
  <div class="table-responsive">
    <table #table class="table tablesorter tablesorter-default tablesorter571d4809236f8" style="min-width: 1000px;"
      role="grid">
      <thead>
        <tr role="row" class="tablesorter-headerRow">
          <th width="15%" data-column="0" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col"
            role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none"
            aria-label="Name: No sort applied, activate to apply an ascending sort" style="user-select: none;">
            <div class="tablesorter-header-inner"><span>Name</span></div>
          </th>
          <th width="55%" data-column="1" class="tablesorter-header tablesorter-headerAsc" tabindex="0" scope="col"
            role="columnheader" aria-disabled="false" unselectable="on" aria-sort="ascending"
            aria-label="Description: Ascending sort applied, activate to apply a descending sort"
            style="user-select: none;">
            <div class="tablesorter-header-inner"><span>Description</span></div>
          </th>
          <th width="15%" style="text-align: center; user-select: none;" data-column="2"
            class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col" role="columnheader"
            aria-disabled="false" unselectable="on" aria-sort="none"
            aria-label="Status: No sort applied, activate to apply a descending sort">
            <div class="tablesorter-header-inner"><span>Status</span></div>
          </th>
          <th width="15%" style="text-align: center; user-select: none;" data-column="3"
            class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col" role="columnheader"
            aria-disabled="false" unselectable="on" aria-sort="none"
            aria-label="Action: No sort applied, activate to apply an ascending sort">
            <div class="tablesorter-header-inner"><span>Action</span></div>
          </th>
        </tr>
      </thead>
      <tbody aria-live="polite" aria-relevant="all">
        <tr *ngFor="let item of frameworkList" role="row">
          <td data-label="Name">
            <span class="orangeColor">{{ item.frameworksName }}</span>
          </td>
          <td data-label="Description">
            {{ item.frameworksDescription }}
          </td>
          <td data-label="Status" style="text-align: center;">
            <img [src]="item.statusImageSrc" class="img-fluid">
          </td>
          <td data-label="Action" style="text-align: center;">
            <a href="#" (click)="onEditData(item)" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#editFramework" aria-controls="editFramework">
              <img src="./assets/images/edit.svg" class="img-fluid" width=24px />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>