<div class="sortTableContainer projectsPage">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <div class="itemHead">
                            <ul class="list-unstyled d-flex justify-content-between mb-0">
                                <li class="assessmentId"><b>ID</b><span>:</span>#321</li>
                                <li class="assessmentName"><b>Name</b><span>:</span>Daniel Dsouza</li>
                                <li class="assessmentStartDate"><b>Start Date</b><span>:</span>25 Oct 2023</li>
                                <li class="assessmentEndDate"><b>End Date</b><span>:</span>31 Oct 2023</li>
                                <li class="assessmentStatus"><b>Status</b><span>:</span><img src="./assets/images/status.svg"> </li>
                                <li class="assessmentRating"><b>Overall Risk Rating</b><span>:</span><i class="low">Low</i></li>
                            </ul>
                            <a href="javascript:void(0)" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#project-1" aria-expanded="false" aria-controls="project-1">
                                View More
                            </a>
                        </div>
                        <div id="project-1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table table-bordered mb-0">
                                    <tbody><tr>
                                        <td><b>Number of Controls</b> <span>:</span> 20</td>
                                        <td><b>Not Started</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Compliant</b> <span>:</span> 15</td>
                                        <td><b>Non-Compliant</b> <span>:</span> 08</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Submitted</b> <span>:</span> 10</td>
                                        <td><b>Evidence Under Review</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Approved</b> <span>:</span> 05</td>
                                        <td><b>Evidence Rejected</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Risks Identified</b> <span>:</span> 08</td>
                                        <td><b>Incident Reported</b> <span>:</span> 05</td>
                                    </tr>
                                </tbody></table>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="itemHead">
                            <ul class="list-unstyled d-flex justify-content-between mb-0" style="gap:20px">
                                <li class="assessmentId"><b>ID</b><span>:</span>#321</li>
                                <li class="assessmentName"><b>Name</b><span>:</span>Jennings Paul Anderson</li>
                                <li class="assessmentStartDate"><b>Start Date</b><span>:</span>25 Oct 2023</li>
                                <li class="assessmentEndDate"><b>End Date</b><span>:</span>31 Oct 2023</li>
                                <li class="assessmentStatus"><b>Status</b><span>:</span><img src="./assets/images/status.svg"> </li>
                                <li class="assessmentRating"><b>Overall Risk Rating</b><span>:</span><i class="medium">Medium</i></li>
                            </ul>
                            <a href="javascript:void(0)" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#project-2" aria-expanded="false" aria-controls="project-2">
                                View More
                            </a>
                        </div>
                        <div id="project-2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table table-bordered mb-0">
                                    <tbody><tr>
                                        <td><b>Number of Controls</b> <span>:</span> 20</td>
                                        <td><b>Not Started</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Compliant</b> <span>:</span> 15</td>
                                        <td><b>Non-Compliant</b> <span>:</span> 08</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Submitted</b> <span>:</span> 10</td>
                                        <td><b>Evidence Under Review</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Approved</b> <span>:</span> 05</td>
                                        <td><b>Evidence Rejected</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Risks Identified</b> <span>:</span> 08</td>
                                        <td><b>Incident Reported</b> <span>:</span> 05</td>
                                    </tr>
                                </tbody></table>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="itemHead">
                            <ul class="list-unstyled d-flex justify-content-between mb-0">
                                <li class="assessmentId"><b>ID</b><span>:</span>#321</li>
                                <li class="assessmentName"><b>Name</b><span>:</span>Daniel Dsouza</li>
                                <li class="assessmentStartDate"><b>Start Date</b><span>:</span>25 Oct 2023</li>
                                <li class="assessmentEndDate"><b>End Date</b><span>:</span>31 Oct 2023</li>
                                <li class="assessmentStatus"><b>Status</b><span>:</span><img src="./assets/images/status.svg"> </li>
                                <li class="assessmentRating"><b>Overall Risk Rating</b><span>:</span><i class="high">High</i></li>
                            </ul>
                            <a href="javascript:void(0)" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#project-3" aria-expanded="false" aria-controls="project-3">
                                View More
                            </a>
                        </div>
                        <div id="project-3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table table-bordered mb-0">
                                    <tbody><tr>
                                        <td><b>Number of Controls</b> <span>:</span> 20</td>
                                        <td><b>Not Started</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Compliant</b> <span>:</span> 15</td>
                                        <td><b>Non-Compliant</b> <span>:</span> 08</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Submitted</b> <span>:</span> 10</td>
                                        <td><b>Evidence Under Review</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Approved</b> <span>:</span> 05</td>
                                        <td><b>Evidence Rejected</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Risks Identified</b> <span>:</span> 08</td>
                                        <td><b>Incident Reported</b> <span>:</span> 05</td>
                                    </tr>
                                </tbody></table>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="itemHead">
                            <ul class="list-unstyled d-flex justify-content-between mb-0">
                                <li class="assessmentId"><b>ID</b><span>:</span>#321</li>
                                <li class="assessmentName"><b>Name</b><span>:</span>Daniel Dsouza</li>
                                <li class="assessmentStartDate"><b>Start Date</b><span>:</span>25 Oct 2023</li>
                                <li class="assessmentEndDate"><b>End Date</b><span>:</span>31 Oct 2023</li>
                                <li class="assessmentStatus"><b>Status</b><span>:</span><img src="./assets/images/status.svg"> </li>
                                <li class="assessmentRating"><b>Overall Risk Rating</b><span>:</span><i class="low">Low</i></li>
                            </ul>
                            <a href="javascript:void(0)" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#project-4" aria-expanded="false" aria-controls="project-4">
                                View More
                            </a>
                        </div>
                        <div id="project-4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table table-bordered mb-0">
                                    <tbody><tr>
                                        <td><b>Number of Controls</b> <span>:</span> 20</td>
                                        <td><b>Not Started</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Compliant</b> <span>:</span> 15</td>
                                        <td><b>Non-Compliant</b> <span>:</span> 08</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Submitted</b> <span>:</span> 10</td>
                                        <td><b>Evidence Under Review</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Approved</b> <span>:</span> 05</td>
                                        <td><b>Evidence Rejected</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Risks Identified</b> <span>:</span> 08</td>
                                        <td><b>Incident Reported</b> <span>:</span> 05</td>
                                    </tr>
                                </tbody></table>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="itemHead">
                            <ul class="list-unstyled d-flex justify-content-between mb-0">
                                <li class="assessmentId"><b>ID</b><span>:</span>#321</li>
                                <li class="assessmentName"><b>Name</b><span>:</span>Jennings Paul Anderson</li>
                                <li class="assessmentStartDate"><b>Start Date</b><span>:</span>25 Oct 2023</li>
                                <li class="assessmentEndDate"><b>End Date</b><span>:</span>31 Oct 2023</li>
                                <li class="assessmentStatus"><b>Status</b><span>:</span><img src="./assets/images/status.svg"> </li>
                                <li class="assessmentRating"><b>Overall Risk Rating</b><span>:</span><i class="medium">Medium</i></li>
                            </ul>
                            <a href="javascript:void(0)" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#project-5" aria-expanded="false" aria-controls="project-5">
                                View More
                            </a>
                        </div>
                        <div id="project-5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table table-bordered mb-0">
                                    <tbody><tr>
                                        <td><b>Number of Controls</b> <span>:</span> 20</td>
                                        <td><b>Not Started</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Compliant</b> <span>:</span> 15</td>
                                        <td><b>Non-Compliant</b> <span>:</span> 08</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Submitted</b> <span>:</span> 10</td>
                                        <td><b>Evidence Under Review</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Approved</b> <span>:</span> 05</td>
                                        <td><b>Evidence Rejected</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Risks Identified</b> <span>:</span> 08</td>
                                        <td><b>Incident Reported</b> <span>:</span> 05</td>
                                    </tr>
                                </tbody></table>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="itemHead">
                            <ul class="list-unstyled d-flex justify-content-between mb-0">
                                <li class="assessmentId"><b>ID</b><span>:</span>#321</li>
                                <li class="assessmentName"><b>Name</b><span>:</span>Daniel Dsouza</li>
                                <li class="assessmentStartDate"><b>Start Date</b><span>:</span>25 Oct 2023</li>
                                <li class="assessmentEndDate"><b>End Date</b><span>:</span>31 Oct 2023</li>
                                <li class="assessmentStatus"><b>Status</b><span>:</span><img src="./assets/images/status.svg"> </li>
                                <li class="assessmentRating"><b>Overall Risk Rating</b><span>:</span><i class="high">High</i></li>
                            </ul>
                            <a href="javascript:void(0)" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#project-6" aria-expanded="false" aria-controls="project-6">
                                View More
                            </a>
                        </div>
                        <div id="project-6" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table table-bordered mb-0">
                                    <tbody><tr>
                                        <td><b>Number of Controls</b> <span>:</span> 20</td>
                                        <td><b>Not Started</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Compliant</b> <span>:</span> 15</td>
                                        <td><b>Non-Compliant</b> <span>:</span> 08</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Submitted</b> <span>:</span> 10</td>
                                        <td><b>Evidence Under Review</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Approved</b> <span>:</span> 05</td>
                                        <td><b>Evidence Rejected</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Risks Identified</b> <span>:</span> 08</td>
                                        <td><b>Incident Reported</b> <span>:</span> 05</td>
                                    </tr>
                                </tbody></table>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="itemHead">
                            <ul class="list-unstyled d-flex justify-content-between mb-0">
                                <li class="assessmentId"><b>ID</b><span>:</span>#321</li>
                                <li class="assessmentName"><b>Name</b><span>:</span>Jennings Paul Anderson</li>
                                <li class="assessmentStartDate"><b>Start Date</b><span>:</span>25 Oct 2023</li>
                                <li class="assessmentEndDate"><b>End Date</b><span>:</span>31 Oct 2023</li>
                                <li class="assessmentStatus"><b>Status</b><span>:</span><img src="./assets/images/status.svg"> </li>
                                <li class="assessmentRating"><b>Overall Risk Rating</b><span>:</span><i class="low">Low</i></li>
                            </ul>
                            <a href="javascript:void(0)" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#project-7" aria-expanded="false" aria-controls="project-7">
                                View More
                            </a>
                        </div>
                        <div id="project-7" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table table-bordered mb-0">
                                    <tbody><tr>
                                        <td><b>Number of Controls</b> <span>:</span> 20</td>
                                        <td><b>Not Started</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Compliant</b> <span>:</span> 15</td>
                                        <td><b>Non-Compliant</b> <span>:</span> 08</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Submitted</b> <span>:</span> 10</td>
                                        <td><b>Evidence Under Review</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Approved</b> <span>:</span> 05</td>
                                        <td><b>Evidence Rejected</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Risks Identified</b> <span>:</span> 08</td>
                                        <td><b>Incident Reported</b> <span>:</span> 05</td>
                                    </tr>
                                </tbody></table>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="itemHead">
                            <ul class="list-unstyled d-flex justify-content-between mb-0">
                                <li class="assessmentId"><b>ID</b><span>:</span>#321</li>
                                <li class="assessmentName"><b>Name</b><span>:</span>Daniel Dsouza</li>
                                <li class="assessmentStartDate"><b>Start Date</b><span>:</span>25 Oct 2023</li>
                                <li class="assessmentEndDate"><b>End Date</b><span>:</span>31 Oct 2023</li>
                                <li class="assessmentStatus"><b>Status</b><span>:</span><img src="./assets/images/status.svg"> </li>
                                <li class="assessmentRating"><b>Overall Risk Rating</b><span>:</span><i class="medium">Medium</i></li>
                            </ul>
                            <a href="javascript:void(0)" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#project-8" aria-expanded="false" aria-controls="project-8">
                                View More
                            </a>
                        </div>
                        <div id="project-8" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table table-bordered mb-0">
                                    <tbody><tr>
                                        <td><b>Number of Controls</b> <span>:</span> 20</td>
                                        <td><b>Not Started</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Compliant</b> <span>:</span> 15</td>
                                        <td><b>Non-Compliant</b> <span>:</span> 08</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Submitted</b> <span>:</span> 10</td>
                                        <td><b>Evidence Under Review</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Approved</b> <span>:</span> 05</td>
                                        <td><b>Evidence Rejected</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Risks Identified</b> <span>:</span> 08</td>
                                        <td><b>Incident Reported</b> <span>:</span> 05</td>
                                    </tr>
                                </tbody></table>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="itemHead">
                            <ul class="list-unstyled d-flex justify-content-between mb-0">
                                <li class="assessmentId"><b>ID</b><span>:</span>#321</li>
                                <li class="assessmentName"><b>Name</b><span>:</span>Jennings Paul Anderson</li>
                                <li class="assessmentStartDate"><b>Start Date</b><span>:</span>25 Oct 2023</li>
                                <li class="assessmentEndDate"><b>End Date</b><span>:</span>31 Oct 2023</li>
                                <li class="assessmentStatus"><b>Status</b><span>:</span><img src="./assets/images/status.svg"> </li>
                                <li class="assessmentRating"><b>Overall Risk Rating</b><span>:</span><i class="high">High</i></li>
                            </ul>
                            <a href="javascript:void(0)" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#project-9" aria-expanded="false" aria-controls="project-9">
                                View More
                            </a>
                        </div>
                        <div id="project-9" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table table-bordered mb-0">
                                    <tbody><tr>
                                        <td><b>Number of Controls</b> <span>:</span> 20</td>
                                        <td><b>Not Started</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Compliant</b> <span>:</span> 15</td>
                                        <td><b>Non-Compliant</b> <span>:</span> 08</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Submitted</b> <span>:</span> 10</td>
                                        <td><b>Evidence Under Review</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Approved</b> <span>:</span> 05</td>
                                        <td><b>Evidence Rejected</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Risks Identified</b> <span>:</span> 08</td>
                                        <td><b>Incident Reported</b> <span>:</span> 05</td>
                                    </tr>
                                </tbody></table>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="itemHead">
                            <ul class="list-unstyled d-flex justify-content-between mb-0">
                                <li class="assessmentId"><b>ID</b><span>:</span>#321</li>
                                <li class="assessmentName"><b>Name</b><span>:</span>Daniel Dsouza</li>
                                <li class="assessmentStartDate"><b>Start Date</b><span>:</span>25 Oct 2023</li>
                                <li class="assessmentEndDate"><b>End Date</b><span>:</span>31 Oct 2023</li>
                                <li class="assessmentStatus"><b>Status</b><span>:</span><img src="./assets/images/status.svg"> </li>
                                <li class="assessmentRating"><b>Overall Risk Rating</b><span>:</span><i class="high">High</i></li>
                            </ul>
                            <a href="javascript:void(0)" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#project-10" aria-expanded="false" aria-controls="project-10">
                                View More
                            </a>
                        </div>
                        <div id="project-10" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <table class="table table-bordered mb-0">
                                    <tbody><tr>
                                        <td><b>Number of Controls</b> <span>:</span> 20</td>
                                        <td><b>Not Started</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Compliant</b> <span>:</span> 15</td>
                                        <td><b>Non-Compliant</b> <span>:</span> 08</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Submitted</b> <span>:</span> 10</td>
                                        <td><b>Evidence Under Review</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Evidence Approved</b> <span>:</span> 05</td>
                                        <td><b>Evidence Rejected</b> <span>:</span> 05</td>
                                    </tr>
                                    <tr>
                                        <td><b>Risks Identified</b> <span>:</span> 08</td>
                                        <td><b>Incident Reported</b> <span>:</span> 05</td>
                                    </tr>
                                </tbody></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
