<form class="formContainer">
                    <div class="mb-3">
                        <label for="inputPassword4" class="form-label">Domain ID</label>
                        <input type="text" class="form-control" value="#321" readonly="" disabled="">
                    </div>

                    <div class="searchableSelect mb-3">
                        <label class="form-label">Domain Name<span>*</span></label>
                        <div class="dropdown bootstrap-select"><select class="selectpicker" data-live-search="true" required="">
                            <option selected="" disabled="" value="">Select Domain Name</option>
                            <option>Domain Name 1</option>
                            <option>Domain Name 2</option>
                            <option>Domain Name 3</option>
                            <option>Domain Name 4</option>
                            <option>Domain Name 5</option>
                            <option>Domain Name 6</option>
                            <option>Domain Name 7</option>
                            <option>Domain Name 8</option>
                            <option>Domain Name 9</option>
                        </select><button type="button" tabindex="-1" class="btn dropdown-toggle bs-placeholder btn-light" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-1" aria-haspopup="listbox" aria-expanded="false" title="Select Domain Name"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Select Domain Name</div></div> </div></button><div class="dropdown-menu "><div class="bs-searchbox"><input type="search" class="form-control" autocomplete="off" role="combobox" aria-label="Search" aria-controls="bs-select-1" aria-autocomplete="list"></div><div class="inner show" role="listbox" id="bs-select-1" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                    </div>

                    <div class="searchableSelect mb-3">
                        <label for="inputAddress" class="form-label">Domain Manager<span>*</span></label>
                        <div class="dropdown bootstrap-select"><select class="selectpicker" data-live-search="true" required="">
                            <option selected="" disabled="" value="">Select Domain Manager</option>
                            <option>Domain Manager 1</option>
                            <option>Domain Manager 2</option>
                            <option>Domain Manager 3</option>
                            <option>Domain Manager 4</option>
                            <option>Domain Manager 5</option>
                            <option>Domain Manager 6</option>
                            <option>Domain Manager 7</option>
                            <option>Domain Manager 8</option>
                            <option>Domain Manager 9</option>
                        </select><button type="button" tabindex="-1" class="btn dropdown-toggle bs-placeholder btn-light" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-2" aria-haspopup="listbox" aria-expanded="false" title="Select Domain Manager"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Select Domain Manager</div></div> </div></button><div class="dropdown-menu "><div class="bs-searchbox"><input type="search" class="form-control" autocomplete="off" role="combobox" aria-label="Search" aria-controls="bs-select-2" aria-autocomplete="list"></div><div class="inner show" role="listbox" id="bs-select-2" tabindex="-1"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div></div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email<span>*</span></label>
                        <input type="email" class="form-control" required="">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Comment<span>*</span></label>
                        <textarea class="form-control" required=""></textarea>
                    </div>
                    <div class="d-flex justify-content-end align-items-center" style="gap: 20px;">
                        <input type="button" value="Cancel" class="saveButton" data-bs-dismiss="modal" aria-label="Close">
                        <button type="submit" class="cancelButton">Save</button>
                    </div>
                </form>