                <form class="formContainer">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">First Name<span>*</span></label>
                                <input type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Last Name</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email<span>*</span></label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Role<span>*</span></label>
                        <select class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Select Role...</option>
                            <option>Admin</option>
                            <option>Manager</option>
                            <option>Contributor</option>
                            <option>Auditor</option>
                            <option>Viewers</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Department<span>*</span></label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="d-flex justify-content-end align-items-center" style="gap: 20px;">
                        <input type="button" value="Cancel" class="saveButton" data-bs-dismiss="modal"
                            aria-label="Close">
                        <button type="submit" class="cancelButton">Save</button>
                    </div>
                </form>
