<form class="formContainer" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="inputPassword4" class="form-label">Domain ID</label>
        <input type="text" class="form-control" value="#321" readonly="" disabled="">
    </div>

    <div class="searchableSelect mb-3">
        <label class="form-label">Domain Name<span>*</span></label>
        <div class="dropdown bootstrap-select">
            <app-select2 [options]="selectDomainOptions" formControlname="domainName"
                (selectedValue)="onSelectedValue($event,'domainName')"></app-select2>
        </div>
    </div>

    <div class="searchableSelect mb-3">
        <label for="inputAddress" class="form-label">Domain Manager<span>*</span></label>
        <div class="dropdown bootstrap-select">
            <app-select2 [options]="selectDomainManagerOptions" formControlname="domainManagerName"
                (selectedValue)="onSelectedValue($event,'domainManagerName')"></app-select2>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Email<span>*</span></label>
        <input type="email" class="form-control" required="" formControlName="domainManagerEmail">
    </div>
    <div class="mb-3">
        <label class="form-label">Comment<span>*</span></label>
        <textarea class="form-control" required="" formControlName="domainDescription"></textarea>
    </div>
    <div class="d-flex justify-content-end align-items-center" style="gap: 20px;">
        <input type="button" value="Cancel" class="saveButton" data-bs-dismiss="modal" aria-label="Close">
        <button type="submit" class="cancelButton">Save</button>
    </div>
</form>