.formContainer {
    padding: 30px;
}
.form-control {
    font-size: 14px;
    color: var(--textColor);
    height: 38px;
}

input:focus, select:focus, textarea, .form-control {
    outline: none !important;
    box-shadow: none !important;
    border-color: var(--lightGray) !important;
}

.saveButton {
    width: 120px;
    background: var(--orangeColor);
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--whiteColor);
    display: block;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}

.cancelButton {
    width: 120px;
    background: var(--tealColor);
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--whiteColor);
    display: block;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}

.formContainer label span {
    color: red;
}
.form-select {
    font-size: 14px;
    color: var(--textColor);
}

textarea.form-control {
    height: 100px;
    resize: none;
}

.formContainer .mb-3{
    text-align: left;
}

.searchableSelect .dropdown.bootstrap-select .selectpicker {
    width: 100%;
    height: 34px;
    opacity: 0;
}
.searchableSelect .dropdown.bootstrap-select button {
    position: absolute;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-color: #dee2e6;
    top: 0px;
}

.searchableSelect .dropdown.bootstrap-select .dropdown-menu {
    padding: 0px;
    min-height: 100px;
    width: 100%;
    height: 100px;
    overflow: auto;
}

.searchableSelect .filter-option-inner-inner {
    font-size: 14px;
    color: var(--textColor);
}