<div class="sortTableContainer">
  <div class="table-responsive">
    <table #table class="table" style="min-width: 1000px;">
      <thead>
        <tr class="tablesorter-headerRow">
          <th width="15%" *ngFor="let header of tableHeaders" [attr.data-column]="header.index"
            style="user-select: none;">
            <div>
              <span>{{ header.label }}</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList">
          <td>
            <span class="orangeColor">{{ user.name }}</span>
          </td>
          <td>
            <span class="orangeColor">{{ user.email }}</span>
          </td>
          <td>
            <span class="orangeColor">{{ user.userRole }}</span>
          </td>
          <td>
            <span class="orangeColor">{{ user.department }}</span>
          </td>
          <td>
            {{ user.userpass }}
          </td>
          <td style="text-align: center;">
            <img src="./assets/images/status.svg" class="img-fluid">
          </td>
          <td>
            <div class="d-flex align-items-center" style="gap: 10px;">
              <app-edit-user></app-edit-user>
              <a href="javascript:void(0)">
                <img src="./assets/images/delete.png" class="img-fluid">
              </a>
              <app-reset-pwd></app-reset-pwd>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>