<div class="sortTableContainer">
  <div class="table-responsive">
    <table class="table" style="min-width: 1000px;">
      <thead>
        <tr>
          <th width="15%"><span>Name</span></th>
          <th width="17%"><span>Email</span></th>
          <th width="13%"><span>Role</span></th>
          <th width="14%"><span>Department</span></th>
          <th width="8%"><span>Password</span></th>
          <th width="20%" style="text-align: center;"><span>Status</span></th>
          <th width="12%"><span>Action</span></th>
        </tr>
      </thead>
      <tbody>
        <!-- Use *ngFor to iterate through your data and generate rows dynamically -->
        <tr *ngFor="let user of users">
          <td>
            <span class="orangeColor">{{ user.name }}</span>
          </td>
          <td>
            <span class="orangeColor">{{ user.email }}</span>
          </td>
          <td>
            <span class="orangeColor">{{ user.role }}</span>
          </td>
          <td>
            <span class="orangeColor">{{ user.department }}</span>
          </td>
          <td>
            {{ user.password }}
          </td>
          <td style="text-align: center;">
            <img src="./assets/images/status.svg" class="img-fluid">
          </td>
          <td>
            <div class="d-flex align-items-center" style="gap: 10px;">
             <app-edit-user></app-edit-user>
              <a href="javascript:void(0)">
                <img src="./assets/images/delete.png" class="img-fluid">
              </a>
                <app-reset-pwd></app-reset-pwd>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
