<div class="sortTableContainer">
  <div class="table-responsive">
    <table class="table tablesorter tablesorter-default tablesorter137aa951fbc12" style="min-width:1000px;" role="grid">
      <thead>
        <tr role="row" class="tablesorter-headerRow">
          <th width="13%" data-column="0" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col"
            role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none"
            aria-label="Domain Name: No sort applied, activate to apply an ascending sort" style="user-select: none;">
            <div class="tablesorter-header-inner"><span>Domain Name</span></div>
          </th>
          <th width="35%" data-column="1" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col"
            role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none"
            aria-label="Description: No sort applied, activate to apply an ascending sort" style="user-select: none;">
            <div class="tablesorter-header-inner"><span>Description</span></div>
          </th>
          <th width="16%" data-column="2" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col"
            role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none"
            aria-label="Domain Manager: No sort applied, activate to apply an ascending sort"
            style="user-select: none;">
            <div class="tablesorter-header-inner"><span>Domain Manager</span></div>
          </th>
          <th width="16%" data-column="3" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col"
            role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none"
            aria-label="Email: No sort applied, activate to apply an ascending sort" style="user-select: none;">
            <div class="tablesorter-header-inner"><span>Email</span></div>
          </th>
          <th width="10%" style="text-align: center; user-select: none;" data-column="4"
            class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col" role="columnheader"
            aria-disabled="false" unselectable="on" aria-sort="none"
            aria-label="Status: No sort applied, activate to apply an ascending sort">
            <div class="tablesorter-header-inner"><span>Status</span></div>
          </th>
          <th width="10%" style="text-align: center; user-select: none;" data-column="5"
            class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col" role="columnheader"
            aria-disabled="false" unselectable="on" aria-sort="none"
            aria-label="Action: No sort applied, activate to apply an ascending sort">
            <div class="tablesorter-header-inner"><span>Action</span></div>
          </th>
        </tr>
      </thead>
      <tbody aria-live="polite" aria-relevant="all">
        <tr *ngFor="let item of domainList" role="row">
          <td data-label="Name">
            <span class="orangeColor">{{ item.domainName }}</span>
          </td>
          <td data-label="Grid">
            {{ item.domainDescription }}
          </td>
          <td data-label="Type">
            {{ item.domainManagerName }}
          </td>
          <td data-label="Region">
            {{ item.domainManagerEmail }}
          </td>
          <td data-label="Chickens" style="text-align: center;">
            <img [src]="item.status" class="img-fluid">
          </td>
          <td data-label="Chickens" style="text-align: center;">
            <app-framework-domain-edit></app-framework-domain-edit>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>