/* You can add global styles to this file, and also import other style files */
:root {
    --themeColor: #311154;
    --tealColor: #2da1ad;
    --hoverColor: #4d2776;
    --textColor: #263959;
    --textColorLight: #65758f;
    --lightGray: #e7ebf3;
    --lightGrayLight: #e7ebf380;
    --orangeColor: #f28e00;
    --greenColor: #60a12c;
    --whiteColor: #ffffff;
    --themeFont: "Roboto", sans-serif;
    --circle: 50%;
}

body {
    font-family: var(--themeFont);
    font-size: 14px;
    color: var(--textColor);
    overflow-x: hidden;
}

a {
    color: var(--textColor);
    text-decoration: none;
}

input:focus,
select:focus,
textarea,
.form-control {
    outline: none !important;
    box-shadow: none !important;
    border-color: var(--lightGray) !important;
}

.dropdown-item {
    font-size: 14px;
    color: var(--textColor);
}

.dropdown-item img {
    width: 16px;
}

.dropdown-item.active,
.dropdown-item:active {
    color: var(--textColor);
    background-color: #f4f5f7;
}

.form-control {
    border-radius: 0.375rem;
}

@media only screen and (max-width: 768px) {
    .offcanvas-end {
        width: 300px !important;
    }

    .formContainer {
        padding: 10px 15px !important;
    }
}


.effectMenu .contentWrapper {
    margin-left: 240px !important;
    transition: all 0.5s ease-in-out !important;
}

.selected {
    background-color: #4d2776 !important;
}

.sortTableContainer {
    padding: 10px 30px;
    color: var(--textColor);
}

.projectsPage .accordion-item {
    border-bottom: 1px solid var(--lightGray) !important;
    margin-bottom: 10px;
}

.projectsPage .accordion-item .itemHead {
    background: var(--lightGrayLight);
    background: none;
    padding: 10px 15px;
}

.assessmentId {
    width: 100px;
}

.projectsPage .accordion-item .accordion-button {
    padding: 0px;
    width: max-content;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 700;
    color: var(--textColorLight);
}

.projectsPage .accordion-button.collapsed {
    color: var(--tealColor) !important;
    background: none;
}

.assessmentId {
    width: 100px;
}

.projectsPage .accordion-item ul li span {
    padding: 0px 10px;
}

.assessmentName {
    min-width: 220px;
    display: flex;
}

.projectsPage .accordion-item ul li b {
    color: var(--textColorLight);
}

.assessmentStartDate {
    min-width: 163px;
}

.assessmentEndDate {
    min-width: 156px;
}

.assessmentStatus {
    min-width: 85px;
}

.assessmentRating {
    min-width: 194px;
}

.projectsPage .accordion-button::after {
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-size: 12px;
}

.projectsPage .accordion-item ul li i {
    font-style: normal;
}


.sortTableContainer table th span {
    position: relative;
}

.sortTableContainer table th span:before {
    border-bottom-color: rgba(0, 0, 0, 0.25) !important;
    border-top: 0 !important;
    margin-top: -2px !important;
}

.sortTableContainer table th span:after {
    border-bottom: 0 !important;
    border-top-color: rgba(0, 0, 0, 0.25) !important;
    margin-top: 0.35em !important;
}

.sortTableContainer table th {
    color: var(--textColorLight);
    font-weight: 400;
}

.sortTableContainer table th span:hover:before,
.sortTableContainer table th span:focus:before {
    border-bottom-color: rgba(0, 0, 0, 0.75) !important;
}

.sortTableContainer table th span:hover:after,
.sortTableContainer table th span:focus:after {
    border-top-color: rgba(0, 0, 0, 0.75) !important;
}

.sortTableContainer table th,
.sortTableContainer table td {
    padding: 12px 15px 12px 0px;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: inherit !important;
}

.btn-close {
    background: url('./assets/images/Close_white.svg') no-repeat center !important;
    opacity: 1;
}

div#addModalPopup {
    height: 100vh;
    overflow-y: auto;
    border-radius: 0px;
}

@media only screen and (max-width: 768px) {
    .frameworkTabRow {
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    .sortTableContainer {
        padding: 10px 0px !important;
    }

    .projectsPage .accordion-item .itemHead {
        padding: 10px 0px !important;
    }

    .projectsPage .accordion-item .itemHead ul {
        flex-direction: column;
        gap: 0px !important;
    }

    .projectsPage .accordion-body {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .sortTableContainer.projectsPage table td {
        padding: 8px 8px 8px 8px !important;
        font-size: 12px !important;
    }

    .sortTableContainer.projectsPage table td b {
        width: 60% !important;
        display: inline-block !important;
        padding: 0px !important;
    }

    .container-fluid {
        padding: 0 !important;
    }

    .contentWrapper {
        margin-left: 0 !important;
        padding: 10px 15px 10px 15px !important;
    }
}

.searchableSelect .dropdown.bootstrap-select .dropdown-menu {
    width: 100%;
    height: 100px;
}

.iti {
    width: 100% !important;
}

.select2-container {
    width: 100% !important;
    background: #fff !important;

}

.select2-container--default .select2-selection--single {
    border-color: #dee2e6 !important;
    height: 34px !important;
    font-size: 14px !important;
    color: var(--textColor) !important;
    padding: .375rem 2.25rem .375rem .75rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--textColor) !important;
    line-height: 21px !important;
    padding: 0 !important;
}

/* Left Menu Scroll CSS */

.leftMenu {
    max-height: 68vh;
    overflow: hidden;
    overflow-y: auto;
}

.leftMenu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #240941;
    background-color: #240941;
}

.leftMenu::-webkit-scrollbar {
    width: 2px;
    background-color: #240941;
}

.leftMenu::-webkit-scrollbar-thumb {
    background-color: #240941;
    border: 2px solid #240941;
}